




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
</head>
<body>
    <% for(let data of datas){ %>
    <p>This is to certify MR.<%= data.Name %> having identity <%= data.roll_no %>
    having specialization in <%= data.Specialization %></p>
    <% } %>
</body>
</html>
